.navbar {
    width: 100%;
    padding: 20px 0px;
    background-color: #333;
    font-size: large;
  }

.navitem {
    color: #f2f2f2;
    padding: 2px 16px;
    display: inline;
    top: 50%;
    transform: translate(0%, -50%);
}

.navitem:hover {
    cursor: pointer;
}

.left-nav {
    float: left;
    margin-left: 10px;
}

.right-nav {
    float: right;
    margin-right: 10px;
}

