.App {
  text-align: center;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 500px;
  border-radius: 5px;
  background-color: white;
  padding: 20px 0px;
}

.modalHeader, .modalFooter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px;
}

.modalFooter button {
  margin: 0px 5px;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

table tr:not(:last-child), thead {
  border-bottom: 1px solid #aaa;
}

td, thead th {
  padding: 10px 2px;
}

.centered {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.vhCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bordered {
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.changeButton {
  width: 150px;
  margin: 50px auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

.changeButtonLight {
  width: 150px;
  margin: 50px auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.changeButtonNothingFancy {
  width: 60px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.changeButton:hover, .changeButtonLight:hover, .changeButtonNothingFancy:hover {
  cursor: pointer;
}